{{ use('yii/widgets/ActiveForm') }}

{% set form = active_form_begin({
    'action' : '/crop/default/resize',
}) %}

{{ form.field(model_resize, 'id').textInput().label('id') | raw }}

{{ form.field(model_resize, 'width').textInput().label('width') | raw }}

{{ form.field(model_resize, 'height').textInput().label('height') | raw }}


<input type="submit" value="Resize">

{{ active_form_end() }}
