{{ use('yii/widgets/ActiveForm') }}

{% set form = active_form_begin({
    'options' : {
        'enctype' : 'multipart/form-data',
        'class' : 'form'}
}) %}

{{ form.field(model, 'file').fileInput({'class': 'file'}).label('') | raw }}

{{ active_form_end() }}

{{ this.registerJs('

    $( document ).ready(function() {

        $( ".file" ).change(function() {

            $( ".form" ).submit();

        });

    });

') }}