{% extends "@app/views/layouts/main.twig" %}

{% block content %}

    {% include '_upload.twig' %}

    <hr>

    {% include '_resize.twig' %}

    <hr>

    {% include '_info.twig' %}

    {{ this.registerJs('
        $( document ).ready(function() {
            console.log( "ready!" );
        });
    ') }}

{% endblock %}